html {
  font-size: 1em;
  height:100%;
  margin:0;
}

body{
  height:100%;
  margin:0;
}

.text-underline {
  text-decoration: underline;
}

h3, h4 {
  color: #563d7c;
  font-weight: normal;
}

footer {
  position: sticky;
}

.text-purple {
  color: #563d7c;
}

.bg-purple {
  background-color: #563d7c;
}