html {
  font-size: 1em;
  height:100%;
  margin:0;
}

body{
  height:100%;
  margin:0;
}

.text-underline {
  text-decoration: underline;
}

h3, h4 {
  padding-top: 2em;
  color: #563d7c;
  font-weight: normal;
}

footer {
  position: sticky;
}

.text-purple {
  color: #563d7c;
}

.bg-purple {
  background-color: #563d7c;
}

.btn-purple {
  color: #ffffff;
  background-color: #563d7c;
  border-color: #563d7c;
}

.btn-purple:hover {
  color: #ffffff;
  background-color: #563d7c;
  border-color: #563d7c;
}

.btn-outline-purple {
  color: #563d7c;
  border-color: #563d7c;
}

.btn-outline-purple:hover {
  background-color: #563d7c;
  color: #ffffff;
}