{{ define "main" }}
  <div>
    <div class="row no-gutters">
      <div class="col"></div>
      <div class="col-sm-8 my-4 px-3">
      <p class="display-4 font-weight-bold text-purple">Pandemic Pregnancy</p>
      <p class="h2">Resetting expectations in the time of
        COVID-19</p>

      <p class="mb-3 text-purple">Updated {{ now.Format "January 2, 2006 3:04 PM (MST)" }}</p>

      <a class="btn btn-outline-purple border-2 align-middle rounded-0 mr-2 ml-0 mb-2" href="/#questions">Questions</a>
      <a class="btn btn-outline-purple border-2 align-middle rounded-0 mr-2 ml-0 mb-2" href="/resources/">Resources</a>
      <a class="btn btn-outline-purple border-2 align-middle rounded-0 ml-0 mb-2" href="/about/">About</a>

      <p class="mb-4"></p>
      <p class="lead mb-5">Congratulations! You're having a baby during a global virus outbreak and healthcare system crisis! Like millions of parents-to-be around the world, you are probably wondering how this situation will impact your pregnancy and childbirth. This website was created to compile <a href="/resources/">information about the current pandemic as it relates to pregnancy</a> from healthcare organizations, medical journals, data resources, and news outlets. The goal of this project is to help pregnant people and their families reset expectations in the time of COVID-19.</p>

      <p class="mb-2"><b>Medical Disclaimer:&nbsp;</b>This website does not provide
        medical advice. The information, including but not limited to, text, graphics, images, and other material
        contained on this website are for informational purposes only. No content on this site is a substitute for
        professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other
        qualified health care provider with any questions you may have regarding a medical condition.</p>
      {{.Content}}
    </div>
    <div class="col"></div>

  </div>
</div>
{{ end }}