{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}
    </span>
    {{ end }}
  </header>
  <div>
    <div class="homepage-content">
      <h1 class="display-4 font-weight-bold text-purple">Pandemic Pregnancy</h1>
      <p class="h2">Resetting expectations in the time of
        COVID-19</p>

      <p class="mb-5 text-purple">Updated March 28th, 2020 11:25 AM (EDT)</p>

      <p class="lead mb-5">Congratulations! You're having a baby during a global outbreak and healthcare crisis! Like millions of parents-to-be around the world, you are probably wondering how this situation will impact your pregnancy and childbirth. This website was created to gather information about the current pandemic, as it relates to pregnancy, from healthcare organizations, medical journals, data resources, and news articles. The goal of this project is to help pregnant people and their families reset expectations in the time of COVID-19.</p>

      <p class="mb-5"><b>Medical Disclaimer:&nbsp;</b>This website does not provide
        medical advice. The information, including but not limited to, text, graphics, images, and other material
        contained on this website are for informational purposes only. No content on this site is a substitute for
        professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other
        qualified health care provider with any questions you may have regarding a medical condition.</p>
      {{.Content}}
    </div>
  </div>
</main>
{{ end }}